In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
from datetime import datetime
import requests

In [8]:
data=pd.read_csv('covid_19_india.csv')

In [9]:
data.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [10]:
data=data.rename(columns={'State/UnionTerritory':'States','Cured':'Recovery'})

In [11]:
data.head()

,Sno,Date,Time,States,ConfirmedIndianNational,ConfirmedForeignNational,Recovery,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [12]:
data=data.drop(['Sno','Time','ConfirmedIndianNational','ConfirmedForeignNational'],axis=1)

In [13]:
data.head()

         Date  States  Recovery  Deaths  Confirmed
0  2020-01-30  Kerala         0       0          1
1  2020-01-31  Kerala         0       0          1
2  2020-02-01  Kerala         0       0          2
3  2020-02-02  Kerala         0       0          3
4  2020-02-03  Kerala         0       0          3

In [14]:
data['Active'] = data['Confirmed'] - data['Recovery'] - data['Deaths']

In [15]:
data.head()

         Date  States  Recovery  Deaths  Confirmed  Active
0  2020-01-30  Kerala         0       0          1       1
1  2020-01-31  Kerala         0       0          1       1
2  2020-02-01  Kerala         0       0          2       2
3  2020-02-02  Kerala         0       0          3       3
4  2020-02-03  Kerala         0       0          3       3

In [16]:
data=data.sort_values(['Date','States']).reset_index(drop=True)
data['Date']=pd.to_datetime(data['Date'])

In [17]:
data

            Date         States  Recovery  Deaths  Confirmed  Active
0     2020-01-30         Kerala         0       0          1       1
1     2020-01-31         Kerala         0       0          1       1
2     2020-02-01         Kerala         0       0          2       2
3     2020-02-02         Kerala         0       0          3       3
4     2020-02-03         Kerala         0       0          3       3
...          ...            ...       ...     ...        ...     ...
18105 2021-08-11      Telangana    638410    3831     650353    8112
18106 2021-08-11        Tripura     77811     773      80660    2076
18107 2021-08-11  Uttar Pradesh   1685492   22775    1708812     545
18108 2021-08-11    Uttarakhand    334650    7368     342462     444
18109 2021-08-11    West Bengal   1506532   18252    1534999   10215

[18110 rows x 6 columns]

In [18]:
india_cases = data[data['Date'] == data['Date'].max()].copy().fillna(0)
india_cases.index = india_cases['States']
india_cases = india_cases.drop(['States','Date'],axis=1)

In [19]:
df = pd.DataFrame(pd.to_numeric(india_cases.sum()),dtype =np.float64).transpose()
df.style.background_gradient(cmap='summer_r', axis=1)

In [20]:
india_cases.sort_values('Active',ascending= False).style\
    .background_gradient(cmap='YlGn_r',subset=['Confirmed'])\
    .background_gradient(cmap='BrBG_r', subset=["Deaths"])\
    .background_gradient(cmap='BuPu', subset=['Recovery'])\
    .background_gradient(cmap='YlOrBr', subset=['Active'])